<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>subscribers</title>
  </head>
  <body>
    <h2>Subscribers:</h2>
    <% subscribers.forEach(s => { %>
<p><%= s.name %></p>
<p><%= s.email %></p>
<% }); %>
  </body>
</html>
